body {
    font-family: Arial, sans-serif;
    background-color: #eaebed;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 85%;
    max-width: 900px;
    margin: 30px auto;
    background-color: #006989;
    padding: 25px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: white;
}

.formulario {
    background-color: #eaebed;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select {
    width: 95%;
    padding: 9px;
    margin-top: 5px;
    border-radius: 12px;
}

button {
    margin-top: 18px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

#mensaje {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #eaebed;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e5e9f0;
}
.listado h2{
    color: white;
}
p{
    color: white;
}